/* || General Styles */

*,
::before,
::after {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #231f20;
  --secondary-color: #e75d5d;
  --orange-color: #f1a733;
  --green-color: #7fbb28;

  --primary-padding: 0 2em;

  --primary-shadow: 0px 4px 5px 0px rgba(35, 31, 32, 0.1);
}
.App {
  text-align: center;
}

/* --------------------------NAVIGATION--------------------------- */
nav {
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: var(--primary-shadow);
}

.nav-container {
  display: flex;
  padding: var(--primary-padding);
  padding-bottom: 0.5em;
  max-width: 915px;
  width: 100%;
}

.logo {
  flex-grow: 1;
}

.logo img {
  max-width: 300px;
  width: 100%;
}

.nav-links {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color ease-in-out 0.2s;
}

.nav-links li a:hover,
.nav-links li a:focus {
  cursor: pointer;
  color: var(--secondary-color);
}

/* -----------------------------END------------------------------- */

/* -----------------------------HERO------------------------------- */
.hero-container {
  position: relative;
  min-height: 100vh;
  border: 1px solid magenta;
}

.hero-container .title {
  position: absolute;
  left: 0;
  top: 1em;
  width: 100%;
  text-align: center;
  font-family: var(--secondary-font);
  color: white;
  font-size: 3.625rem;
}

.hero-container .sub-title {
  position: absolute;
  top: 8em;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
}

.hero-slide img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  background-color: red;
}

.next-slide {
  transform: translateX(100%);
}

.actual-slide {
  transform: translateX(0);
}

@media (max-width: 1000px) {
}

/* -----------------------------END------------------------------- */

/* -----------------------------STAFF------------------------------- */

.staffComp-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 5px solid gray;
}

.staffComp-inner-container {
  position: relative;
  min-width: 100%;
  min-height: 50em;
}

.staffComp-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid magenta;
  transition: transform ease-in-out 0.5s;
}

.staffComp-item.hidden {
  transform: translateX(-100%);
}

.staffComp-item.activeSlide {
  border: 5px solid blue;
}

.staffComp-item img {
  border: 1px solid blue;
  max-width: 100%;
  max-height: 100%;
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
}

.staffComp-bullet-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
  border: 1px solid blue;
}

.btn-slide {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: gray;
}

.btn-slide.active {
  background-color: black;
}

/* -----------------------------END------------------------------- */

/* -----------------------------TABS------------------------------- */

.tabs-container {
}

.tabs-inner-container {
  border: 1px solid blue;
}
.tabs-items-container {
  list-style: none;
  padding: 0;
}

.tabs-inner-description.hidden {
  display: none;
}

/* -----------------------------END------------------------------- */

/* -------------------------TESTIMONIALS-------------------------- */
.testimonialsComp-container {
  position: relative;
  overflow: hidden;
}

.testimonialsComp-container-inner {
  border: 3px solid magenta;
  height: 20em;
  max-width: 800px;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.testimonial-item {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: transform ease-in 1s, opacity ease-in-out 1s;
}
.active-testimonial {
  opacity: 1;

  transform: translateX(0);
}

.next-testimonial {
  transform: translateX(100%);
}

.last-testimonial {
  transform: translateX(-100%);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: 0vw;
}

/* -----------------------------END------------------------------- */

/* ---------------------------GALLERY----------------------------- */

.galleryComp-container {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.gallery-item img {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.model {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: 80vw;
  height: auto;
}

.gallery-close-icon {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  color: white;
  font-size: 3rem;
  transition: opacity ease 0.5s;
}

.gallery-close-icon:hover,
.gallery-close-icon:focus {
  opacity: 0.5;
  cursor: pointer;
}

/* -----------------------------END------------------------------- */

.mapComp-container {
  width: 100%;
  height: 50vh;
}
